{% extends "base.html" %}

{% block content %}
    <h1 class="title">Decode Message</h1>
    <br>
    <form method="post" enctype="multipart/form-data" class="w-50" style="margin:auto;">
        <input class="form-control center-input" type="text" id="key" name="key" placeholder="Key"><br>
        <input class="form-control" type="file" id="image" name="image" accept="image/png,image/jpeg"><br>
        <div class="text-center">
            <input type="submit" class="btn btn-secondary center-input" style="margin:auto;">
        </div>
    </form>
{% endblock %}
