{% extends "base.html" %}

{% block content %}
    <h1 class="title">Steganography Center</h1>
    <h4 class="title">
        <p href="" class="typewrite" data-period="2000" data-type='[ "Where your messages become secret.", "Sndfd hljf ndxxzbdx vdalnd xdafdg." ]'>
            <span class="wrap"></span>
        </p>
    </h4>
    <br>
    <ul style="margin-top:30px;">
        <li class="coding-list"><a href="{{ url_for('rgb') }}" class="btn btn-secondary mb-2 font-weight-bold" style="width:150px;">RGB</a></li>
        <li class="coding-list"><a href="{{ url_for('alpha') }}" class="btn btn-secondary mb-2 font-weight-bold" style="width:150px;">A-Channel</a></li>
    </ul>
    <script>
        var TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            var that = this;
            var delta = 100 - Math.random();

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
            }

            setTimeout(function() {
            that.tick();
            }, delta);
        };

        window.onload = function() {
            var elements = document.getElementsByClassName('typewrite');
            for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);
        };
    </script>
{% endblock %}
