@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

h1.title {
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    margin-right: 4em;
    font-size: 20px;
}

blockquote.para {
    text-align: center;
}

ul li:before{
    content: "\2192";
    margin: 1em;
}
